// Affiche un item menu actif ou pas
mixin item(title, url, icon)
	li(class=active == title ? 'active' : '')
		a(href=url)
			span(class=icon)
			span= title

.row
	div.small-12.large-9.columns
		p.text-left
			a(href="/")
				img(src="/img/logo.jpg")
	- if (utilisateur)
		div.small-12.large-3.columns
			p.text-center
				a.x-small.button.expand#creer-evenement(href="#" data-reveal-id="creerEvenementModal") 
					span.gicon-edit.gicon-white
					span  Créer un 
						strong évenement
.row
	div.small-12.large-12.columns
		nav.top-bar(data-topbar)
			ul.title-area
				li.name
				li.toggle-topbar.menu-icon
					a(href="#") Menu
			section.top-bar-section
				ul.left
					li
						a(href="/trouver-une-sortie")
							span.gicon-search.gicon-white
							span  Trouver 
								strong une sortie
					li.divider
					li
						a(href="/trouver-une-sortie-par-categorie")
							span.gicon-search.gicon-white
							span  Les 
								strong Catégories
					li.divider
					li
						a(href="/mon-planning")
							span.gicon-calendar.gicon-white
							span  Mon  
								strong planning
					li.divider
					- if (utilisateur)
						li
							a(href="/mes-evenements")
								span.gicon-list-alt.gicon-white
								span  Mes  
									strong événements
					li.divider
					- if (utilisateur)
						li
							a(href="/mes-invitations")
								span.gicon-list-alt.gicon-white
								span  Mes  
									strong invitations
				ul.right
					
					//- console.log(res.locals.utilisateur)
					
					- if (utilisateur)
						//- if (utilisateur.facebook)
							li
								img(src="https://graph.facebook.com/" + utilisateur.facebook.id + "/picture")
						li
							a(href="/mon-compte")
								span.gicon-user.gicon-white
								- console.log(utilisateur)
								- if (utilisateur)
									span  #{utilisateur.local.firstname} 
										strong #{utilisateur.local.lastname}
						li
							a(href="/deconnexion") 
								span.gicon-off.gicon-white
					- else
						li.has-form
							a.x-small.button(href='#'  data-reveal-id="inscriptionModal") Inscription
					
						li.has-form
							a.x-small.button(href='#'  data-reveal-id="connexionModal") S'identifier
