extends layout

block content
	div.row
		div.small-12.large-12.columns.panel.bg-blanc
			- console.log(title)
			h1.fg-bleu-fonce #{title}
			hr
			//- if (utilisateur.facebook)
				img(src="https://graph.facebook.com/" + utilisateur.facebook.id + "/picture")
				p #{utilisateur.facebook.name}
				p #{utilisateur.facebook.email}
			//- else if (utilisateur.local)
				p #{utilisateur.local.email}
			dl.tabs(data-tab)
				dd.active
					a(href="#panel2-1") Mes coordonnées
				dd
					a.bg-bleu-clair(href="#panel2-2") Paramètrages
				dd
					a(href="#panel2-3") Autorisations
				dd
					a(href="#panel2-4") Notifications
			div.tabs-content
				div.content.active#panel2-1
					form
						fieldset
							legend.fg-bleu-fonce Vos informations personnelles
							.row
								.large-12.columns
									label Email: 
										input(disabled="disabled" value="#{utilisateur.facebook.email}")
							.row
								.large-12.columns
									label Prénom: 
										input(disabled="disabled" value="#{utilisateur.local.firstname}")
							.row
								.large-12.columns
									label Nom: 
										input(disabled="disabled" value="#{utilisateur.local.lastname}")
				div.content#panel2-2
					form
						fieldset
							legend.fg-bleu-fonce Paramètrages de votre compte
				div.content#panel2-3
					form
						fieldset
							legend.fg-bleu-fonce Gestion des Autorisations
				div.content#panel2-4
					form
						fieldset
							legend.fg-bleu-fonce Paramètrage des Notifications