extends layout

block content
		div.row
			div.small-12.large-12.columns
					h1 #{title}
					hr
		div.row
			div.small-12.large-12.columns
				table#tab-my-events.small-12.large-12.columns
					thead
						tr
							th Titre
							th.show-for-large-only Description
							th.text-center Date
							th.text-center Status
							th
					tbody
						- if( events !== null && events.length > 0)
							each ev in events
								tr
									td
										a(href='/evenements/fiche/#{ev._id}' ) #{ev.title}
									td.show-for-large-only #{ev.description}
									td.text-center #{moment(ev.created_at).format('DD/MM/YYYY')}
									td.text-center
										a(data-dropdown="drop"): span.round.label.secondary inscriptions ouvertes
										ul.f-dropdown(id="drop" data-dropdown-content)
											li: a Fermé
											li: a Ouvert
											li: a Annulé
											li: a Reporté

									td.text-center  
										a(href='/mes-evenements/supprimer/#{ev._id}' ) &times;
						- else
							tr
								td.text-center(colspan='5') Aucun evenement pour le moment
		include blocks/online