div#inscriptionModal.reveal-modal.tiny(data-reveal)
	h2 Inscription
		form(method="post" action="/inscription")
			label
				input(type="text" id="email" name="email" placeholder="Email")
			label
				input(type="password" id="password" name="password" placeholder="Mot de passe")
			input.button(type="submit" value="Finaliser mon inscription")
	hr

	p Vous avez déjà un compte ? <a href="/connexion" data-reveal-id="connexionModal">Se connecter</a>

div#connexionModal.reveal-modal.tiny(data-reveal)
	h2 S'identifier
		form(method="post" action="/connexion")
			label
				input(type="text" id="email" name="email" placeholder="Email")
			label
				input(type="password" id="password" name="password" placeholder="Mot de passe")
			input.button(type="submit" value="Se connecter")
		p
			a(href="/auth/facebook") 
				span.gicon-facebook
				span  Se connecter avec Facebook

// Affiche un item menu actif ou pas
mixin item(title, url, icon)
	li(class=active == title ? 'active' : '')
		a(href=url)
			span(class=icon)
			span= title

nav.top-bar(data-topbar)
	ul.title-area
		li.name
			h1
				a(href='/') Officiel des sorties
		li.toggle-topbar.menu-icon
			a(href="#")
	section.top-bar-section
		ul.left
			li.has-form
				a.x-small.button(href="/mes-evenements/nouveau") 
					span.gicon-edit.gicon-white
					span  Créer un évenement

			+item(' Trouver une sortie', '/trouver-une-sortie','gicon-search gicon-white')
			li.divider
			+item(' Mon planning', '/mon-planning','gicon-calendar gicon-white')
			li.divider
			+item(' Mes événements', '/mes-evenements','gicon-list-alt gicon-white')
				span.round.label #{count_my_event}
		ul.right
			//- if (user.facebook)
				li
					img(src="https://graph.facebook.com/" + user.facebook.id + "/picture")				
			
			- if (user)
				li.has-dropdown
					a(href="#")
						span.gicon-user.gicon-white
						span  Mon compte 
						

					ul.dropdown
						li
							a(href="/deconnexion") 
								span.gicon-off.gicon-white
								span  Déconnexion
			- if (user == null)
				li.has-form
					a.x-small.button(href='#'  data-reveal-id="inscriptionModal") Inscription
			- if (user == null)
				li.has-form
					a.x-small.button(href='#'  data-reveal-id="connexionModal") S'identifier
